.notes-tabs {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.notes-tabs__btn {
  color: white;
  padding: 8px 16px;
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  transition: var(--transition);

  background: var(--secondary);
  color: white;
}

.notes-tabs__btn.is-active {
  background: var(--primary);
  color: white;
}

.thirds {
  padding: 0px 30px;
}
