body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: var(--transition);
  margin: 0px;
}
.app-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
