body {
  font-family: var(--font);
  background: var(--bg);
  color: var(--text);
  transition:
    background var(--transition),
    color var(--transition);
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}
